* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', 'Roboto', sans-serif;
}

.header {
    height: 75px;
    width: 100%;
    background-color: #0D0D0D;
    color: white;
    border-bottom: 2px solid #444444;
    /* position: fixed;
     top: 0; 
     width: 100%; */
}

.logo img {
    height: 75px;
    width: 75px;

}

.canteen-name {
    color: white;
    padding-top: 25px;
    font-family: 'Poppins', 'Roboto', sans-serif;
    font-weight: 700;
}

.right ul {
    color: white;
    display: flex;
    gap: 25px;
    list-style: none;
    padding-top: 25px;

}

.header {
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
}

.right ul li a {
    text-decoration: none;
    color: white;

}


/* hover effect */
.right ul li a:hover{
     color: aqua;

}

.main-title {
    height: 150px;
    width: 100%;
    background-color: #0D0D0D;
    border-bottom:2px solid #444444;
}

.line1 h1 {
    color: #FFC107;
    padding-left: 0px;
}

.line2 {
    color: white;
    font-weight: 900;

}


.lines {

    display: grid;
    place-items: center;
    padding-top: 30px;

}
.admin-area{
    width: 100%;
    height: 250px;
    background-color: #0D0D0D;
    color: white;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding-top: 10px;
     
}
 
.input-dish{
    padding: 10px 35px;
    border: 1px solid #444444;
    background-color:#0D0D0D;
    border-radius: 5px;
    color:white;
}
   
.admin-menu{
    padding-left: 30px;
    padding-top:50px;
    border: 1px solid #444444;
    border-radius: 7px;

}
.para1{
    padding-top: 5px;

}
.save-btn{
     padding-top:20px ;
     padding-right: 50px;
    
}
.save-menu{
     padding: 7px 100px;
     background-color: #fb0505;
     border: 1px solid #444444;
     color: white;
     border-radius: 5px;
}
.adminsection{
    height: 25px;
    width: 100%;
    text-align: center;
    background-color: #0D0D0D;
    color: white;
    padding-top: 5px;
     
}

.pavbhaji img{
    height: 100px;
width: 100px;
}
.images{
    display: flex;
    justify-content: space-around;
    background-color: #0D0D0D;
}
footer{
     background-color: #0D0D0D;
     height: 120px;
     width: 100%;
     color: white;
     text-align: center;
     padding-top: 50px;
     border-top: 1px solid #444444;
}
 
 
 